* {
    font: 14px verdana;
}
header {
    text-align: center;
    background: lightgreen ;
}
nav {
    background: mediumseagreen;
}
aside {
    background: mediumseagreen;
}
footer {
    text-align: center;
    background: lightgreen;
}
.header {
    font-size: 46px;
}
.footer {
    font-size: 10px;
}
.content {
    font-size: 14px;
}
.navigation {
    font-size: 12px;
}
.sidebar {
    font-size: 10px;
}
[class$="r"] {
    background-color: magenta;
}
[class*="a"] {
    background-color: blue;
}
